::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}

head {
    display: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: rgba(245, 240, 237, 0.925);
    margin: 0;
}

#main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: hsla(195, 11%, 64%, 0.671);
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#img-div {
    background: rgb(42, 81, 148);
    padding: 10px;
    margin: 0;
}

#fig {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

#img-caption {
    margin: 15px 0 5px 0;
}

section {
    display: block;
}

blockquote {
    font-style: italic;
    max-width: 545px;
    margin: 0 auto 50px auto;
    text-align: left;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

element.style {
    display: none;
}

ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    margin: 16px 0;
    display: list-item;
    text-align: -webkit-match-parent;
}

#tribute-link {
    color: rgb(14, 240, 33);
}